<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467115419472-jurgq4521c3ffn7pr817btgg1a9chofe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467115419472-jurgq4521c3ffn7pr817btgg1a9chofe</string>
	<key>API_KEY</key>
	<string>AIzaSyDWRJw4Kf-YnnNtN4oRgHKMfA_4pKciy2M</string>
	<key>GCM_SENDER_ID</key>
	<string>467115419472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>testproject-4db53</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-4db53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467115419472:ios:47083dfc5a1d8aee3f2e55</string>
</dict>
</plist>